<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go Board List</title>
        <script src="/js/common.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="center-wrapper">
                <div class="header-wrapper">
                    <h1>Go Board List</h1>
                </div>
                <div class="content-wrapper">
                    <div class="board-wrapper">

                    </div>   
                </div>
            </div>
        </div>
        <script>
            $.ajax({
                url: "/board/getList",
                method: "get",
                type: "json",
                success: function (result) {
                    console.log(result)
                }
            })
        </script>
    </body>
</html>