<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go Board View</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="center-wrapper">
                <div class="header-wrapper">
                    <h1>View</h1>
                </div>
                <div class="content-wrapper">
                    
                </div>
            </div>
        </div>
        <script>
            
        </script>
    </body>
</html>